<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="classes" thread-count="4">
	<listeners>
		<listener
			class-name="com.unified.automation.framework.listeners.TestListener"></listener>
	</listeners>
	<test name="RegressionTests">
		<classes>
			<class name="com.unified.automation.framework.web.tests.DummyClass"></class>
			<class name="com.unified.automation.framework.web.tests.LoginPageTest"></class>
			<class name="com.unified.automation.framework.web.tests.HomePageTest"></class>
			<class name="com.unified.automation.framework.api.tests.ApiTest"></class>
		</classes>
	</test>
</suite>