<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite">
	<test name="RegressionTests">
		<classes>
			<class name="com.unified.automation.framework.tests.DummyClass"></class>
			<class name="com.unified.automation.framework.tests.LoginPageTest"></class>
		</classes>
	</test>
	<test name="SmokeTests">
		<classes>
			<class name="com.unified.automation.framework.tests.DummyClass"></class>
		</classes>
	</test>
</suite>